.hero-wrapper {
	display: flex;
	justify-content: center;
	padding: 30px;
	margin-bottom: 50px;
}

.hero {
	display: flex;
	flex-direction: column;
	max-width: 900px;
}

.bio-wrapper {
	display: flex;
	align-items: center;
}

.bio {
	color: white;
	padding: 60px;
	font-size: 17pt;
	line-height: 1.5;
	max-width: 800px;
}

.portrait-wrapper {
	display: flex;
	align-items: center;
}

.portrait {
	padding: 40px;
	width: 300px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 50pt;
}

.header h2 {
	text-align: center;
	font-size: 25pt;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

hr {
	height: 60px;
	width: 3px;
	background-color: lightslategray;
	border: None;
	margin-left: 20px;
	margin-right: 20px;
}

.contact {
	display: flex;
	justify-content: center;
}

.contact li a {
	margin: 30px;
	padding: 10px;
	font-size: 15pt;
	color: #08fdd9;
	border: 1px solid #08fdd9;
}

.contact a {
	color: #08fdd9;
}

.contact li a:hover {
	background-color: #08fdd9;
	color: black;
}

@media only screen and (max-width: 600px) {
	.contact li a {
		margin: 3vw
	}
}