.experience-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	color: white;
}

.experience {
	max-width: 900px;
	display: flex;
	flex-direction: column;
/*	align-items: center;*/
}

.experience-header h3 {
	width: 100%;
	text-align: left;
}	

.experience-wrapper h2 {
	text-align: center;
	font-size: 25pt;
	margin-bottom: 30px;
}

.experience-desc {
	font-size: 17pt;
	line-height: 1.5;
	margin-bottom: 20px;
}

.experience-list {
	font-size: 15pt;
	line-height: 1.5;
	list-style: disc;
	max-width: 90%;
	align-self: center;
}

.tools {
	align-self: center;
	display: inline-flex;
}
